div.item-container
  div.item-image
    div.scaled-image(class='{{itemname}}')
  div.item-contents
    div.item-title
      h2 {{itemname}}
      p ${{properties.price | number:2}}
    div.item-title
      p {{count}} owned
      //- p {{properties}}
      p ${{properties.profit | number:2}} / sec

  button.purchase-button(ng-click='purchaseEquipment(itemname)' ng-disabled='!canBuyItem(itemname)') {{sufficientFunds(itemname) ? "BUY": "NEED $$$"}}
  //- label.expander
  //-   input.expander(type='checkbox' ng-model='collapse')
  //-   div.expander-label.expanded(ng-show='collapse') Hide
  //-   div.expander-label.collapsed(ng-show='!collapse') Details
  //- div(ng-show='collapse' ng-repeat='(key, value) in properties')
  //-   div.item-property {{key}}: {{value}}
