
#latest-tweets {
  background: #fafafa;
  border: 1px solid #eaeaea;
  padding: 5px 15px;
  //position: absolute;
  //bottom: 149px;
  border-radius: 5px;
  overflow: hidden;
  background-color: $dark-purple;
  color: white;
  font-family: 'Open Sans', sans-serif;

  a {
    color: white;
  }

  .tweet {
    img {
      height: 1em;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
    float: left;
    padding-left: 110%;
    animation: marquee 120s linear infinite;

    li {
      display: inline-block;
      margin: 0 20px 0 0;
    

      p {
        margin: 0;
      }

      .interact {
        a {
          margin-right: 10px;
        }
      }

      // .user, 
      // .time-posted, 
      // .interact {
      //   // display: none;
      // }
    }
  }

  ul:hover {
    animation-play-state: paused;
  }
}

@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
