.world {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  width: calc((100% / 3) * 2);
  height: 100%;
  background-color: $sky-blue;

  .gameover {
    z-index: 100;
    margin: 0;
    text-align: center;
    font-size: 80px;
    color: white;
    font-weight: bold;
  }
}
